<div>
        <nav class="navbar navbar-light bg-faded>
                <a class="navbar-brand">Patient Information Portal</a>
                <form class="form-inline">
                <button href="#" class="btn align-right btn-outline-success" type="button" data-toggle="modal" data-target="#new_patient_modal">Add Patient</button>
                </form>
        </nav>
</div>